{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <p>Select the first file </p>
            <input type="file" name="file1">
            <br>
            <p>Select the first file </p>
            <input type="file" name="file2">
            <br>
            <p>Select your algorithm of choice </p>
            <select name="algorithm" onchange='get_n(this.value);'>
                <option selected disabled value="">Algorithm Choice</option>
                <option value="lines">lines</option>
                <option value="sentences">sentences</option>
                <option value="substrings">substrings</option>
            </select>
            <br>
            <div id="n">

            </div>
            <button type="submit">Compare</button>
        </form>
    </div>
    <script>
        function get_n(value)
        {
            if (value != "substrings")
            {
                return;
            }
            let html = '<p>Select the length of choice for the substring</p>';
            html += '<br>'
            html += '<input type=\"number\" name=\"length\">';
            document.querySelector('#n').innerHTML = html;
        }
    </script>
{% endblock %}

