{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">
        <p>First Name</p>
        <input id="input1" type="text" autofocus autocomplete="off" placeholder="First Name" name="first_name">
        <br>
        <p>Last Name</p>
        <input id="input2" type="text" autofocus autocomplete="off" placeholder="Last Name" name="last_name">
        <br>
        <p>Sexe</p>
        <label for="sex1">
            <input type="radio" id="sex1" name="sex" value="male"> Male
        </label>

        <label for="sex2">
            <input type="radio" id="sex2" name="sex" value="female"> Female
        </label>
        <br>
        <p>School</p>
        <input id="input3" type="text" autofocus autocomplete="off" placeholder="School" name="school">
        <br>
        <p>Country</p>
        <select name="country" id="thecountry">
            <option value="" selected disabled>Country of residence</option>
            {% for country in countries %}
                <option value={{ country }}>{{ country }}</option>
            {% endfor %}
        </select>


        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>
        document.querySelector('form').onsubmit = function(){
            if (!document.querySelector('#input1').value || !document.querySelector('#input2').value || !document.querySelector('#input3').value || (!document.querySelector('#sex1').value && !document.querySelector('#sex2').value) || !document.querySelector('#thecountry').value){
                alert('You must provide all the fields');
            }
        };
    </script>

{% endblock %}

